
h1, h2{

	background-color: #1DA1F2;
	color: white;
	text-align: center;
}

form{

	text-align: center;

}
#container{

	background: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;

}
